<div class="p-5 m-3" id="block">
  <H1 class="text-center">Poster une image</H1>
  <form (ngSubmit)="onSavePostes()" [formGroup]="posteForm">
    <div class="container py-5">
      <div class="row py-4">
        <div class="col-lg-6 mx-auto">
          <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
            <input (change)="detectFiles($event)" accept="image/*" class="form-control border-0 invisible" formControlName='image'
                   id="image" onchange="readURL(this);" type="file">
            <div class="input-group-append">
              <label class="btn btn-light m-0 rounded-pill px-4" for="image"> <i
                class="fa fa-cloud-upload mr-2 text-muted"></i><small
                class="text-uppercase font-weight-bold text-muted">Choisir Image</small></label>
            </div>
          </div>
          <div class="image-area mt-4"><img alt="" class="img-fluid rounded shadow-sm mx-auto d-block" id="imageResult"
                                            src="#"></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="titre">titre</label>
      <input class="form-control" formControlName='titre' id="titre" type="text">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" formControlName='description' id="description" rows="3"></textarea>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="categorie">Catégorie</label>
        <select class="form-control" formControlName='categorie' id="categorie">
          <option selected>image</option>
          <option>Photographie</option>
          <option>Peinture</option>
          <option>Dessin</option>
          <option>Bande dessinée</option>
          <option>Manga</option>
          <option>Screenshot</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="pays">Pays</label>
        <select class="form-control" formControlName='pays' id="pays">
          <option *ngFor="let country of countries" default>{{country.name}}</option>
        </select>
      </div>
    </div>
    <button [disabled]="posteForm.invalid || fileIsUploading" class="btn btn-success"
            type="submit">Enregistrer
    </button>
  </form>
</div>
