
<body class="d-flex flex-column h-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="logo" src="https://cdn.discordapp.com/attachments/813672163453173780/829322042964443146/instagram-social-outlined-logo.png" alt="exemple de texte alternatif"/>
    <a class="ml-3 navbar-brand" href="#"><h1 class="text-white">imaCom</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="ml-auto navbar-nav">
        <li class="m-2 nav-item active">
          <a class="nav-link text-white " routerLink="">Rechercher <span class="sr-only">(current)</span></a>
        </li>
        <li class="m-2 nav-item">
          <a class="nav-link text-white" routerLink="magallerie">Ma gallerie</a>
        </li>
        <li class="m-2 nav-item">
          <a class="nav-link text-white" routerLink="poster">Poster</a>
        </li>
        <li class="m-2 nav-item">
        <li *ngIf="!isAuth" class="m-2 nav-item">
          <a class="nav-link text-white" routerLink="connexion">Connexion</a>
        </li>
        <li *ngIf="!isAuth" class="m-2 mr-5 nav-item">
          <a class="nav-link text-white" routerLink="inscription">Inscription</a>
        </li>
        <li *ngIf="isAuth" class="m-2 nav-item">
          <a class="nav-link text-white"  (click)="onSignOut()">Déconnexion</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="main" class="p-5 flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</body>
