.logo {
  width: 3%;
  min-width: 60px;
  min-height: 60px;
}

li > a {
  font-size: 1.25em;

}

nav {
  background: linear-gradient(to right, #ff5858, #f857a6);
  color: white;
  box-shadow: 2px 2px 10px 1px #662424;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#main {
  background: linear-gradient(#e66465, #9198e5);
  width: 100%;
  height: auto;
  min-height: 100%;
  position: absolute;
  top: 82px;
}

a:active {
  text-decoration: underline;
  color: white;
}