<div id="block" class="w-50 container p-0 w-100">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex flex-row">
          <img class="imgCarrousel img-thumbnail m-2" src="https://d1fmx1rbmqrxrr.cloudfront.net/cnet/optim/i/edit/2019/04/eso1644bsmall__w770.jpg" alt="img">
          <img class="imgCarrousel img-thumbnail m-2" src="https://media-exp1.licdn.com/dms/image/C5603AQGdTJ8ZoD5vsA/profile-displayphoto-shrink_200_200/0/1610792729910?e=1621468800&v=beta&t=3iEvm7YrphWXP36Iq5d1b1jy4yV1r8J0KFoLycm3XNc" alt="img">
          <img class="imgCarrousel img-thumbnail m-2" src="https://media-exp1.licdn.com/dms/image/C5603AQGdTJ8ZoD5vsA/profile-displayphoto-shrink_200_200/0/1610792729910?e=1621468800&v=beta&t=3iEvm7YrphWXP36Iq5d1b1jy4yV1r8J0KFoLycm3XNc" alt="img">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-row">
          <img class="imgCarrousel img-thumbnail m-2" src="https://media-exp1.licdn.com/dms/image/C5603AQGVgebs5x7daQ/profile-displayphoto-shrink_200_200/0/1590156237696?e=1622678400&v=beta&t=kAw82nTLUeiX4V0TBbEl1AMKvuIz2L-opzeJDExRZoQ" alt="img">
          <img class="imgCarrousel img-thumbnail m-2" src="https://media-exp1.licdn.com/dms/image/C5603AQGdTJ8ZoD5vsA/profile-displayphoto-shrink_200_200/0/1610792729910?e=1621468800&v=beta&t=3iEvm7YrphWXP36Iq5d1b1jy4yV1r8J0KFoLycm3XNc" alt="img">
          <img class="imgCarrousel img-thumbnail m-2" src="https://media-exp1.licdn.com/dms/image/C5603AQGdTJ8ZoD5vsA/profile-displayphoto-shrink_200_200/0/1610792729910?e=1621468800&v=beta&t=3iEvm7YrphWXP36Iq5d1b1jy4yV1r8J0KFoLycm3XNc" alt="img">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-row">
          <img class="imgCarrousel img-thumbnail m-2" src="https://media-exp1.licdn.com/dms/image/C5603AQGdTJ8ZoD5vsA/profile-displayphoto-shrink_200_200/0/1610792729910?e=1621468800&v=beta&t=3iEvm7YrphWXP36Iq5d1b1jy4yV1r8J0KFoLycm3XNc" alt="img">
          <img class="imgCarrousel img-thumbnail m-2" src="https://media-exp1.licdn.com/dms/image/C5603AQGdTJ8ZoD5vsA/profile-displayphoto-shrink_200_200/0/1610792729910?e=1621468800&v=beta&t=3iEvm7YrphWXP36Iq5d1b1jy4yV1r8J0KFoLycm3XNc" alt="img">
          <img class="imgCarrousel img-thumbnail m-2" src="https://media-exp1.licdn.com/dms/image/C5603AQGdTJ8ZoD5vsA/profile-displayphoto-shrink_200_200/0/1610792729910?e=1621468800&v=beta&t=3iEvm7YrphWXP36Iq5d1b1jy4yV1r8J0KFoLycm3XNc" alt="img">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
